code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#gains {
  height: 16px;
  width: 16px;
}
.cell {
  margin-left: 50px;
}
.row {
  display: inline-block;
}
.img {
  width:20px; 
  height:20px;
}
.coin {
  border-style: solid;
  padding: 5%;
  margin: 10px;
  border-radius: 20px;
  border-color: rgb(221, 221, 221);
  background: rgb(250, 250, 250);
}
input {
  width:100%;
}
select {
  width:100%;
}
.formContainer {
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.x {
  float: right;
  margin-top: 0%;
  width:30px;
  height: 30px;
  font-size: 20px;
  border: none;
  background-color: #f2f2f2;
  margin-left: 30%;
  margin-right: 30%;
  color: rgb(141, 141, 141);
}
.x:hover {
  color: black;
  font-size: 25px;
}
.form {
  border-radius: 5px;
  border-style: solid;

  margin-left: 20%;
  height: 30px;
  margin-top: 10px;
  border-color: rgba(201, 201, 201, 0.842);


  font-size: 15px;
  border-color: rgba(201, 201, 201, 0.842);
  background: rgb(250, 250, 250);

}
.form:hover {
  background: rgb(240, 240, 240);
}
.options {
  float:right;
  border-radius: 100%;
  width:30px;
  height: 30px;
  font-size: 15px;
  border-style: solid;
  border-color: rgba(201, 201, 201, 0.842);
  background: rgb(250, 250, 250);
}
.options:hover {
  background: rgb(240, 240, 240);
}
.dropdown-content {
  display: none;
  position: absolute;
} 
