body {
  margin-top: 50px;
  padding: 5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin-left: 30%;
  margin-right: 30%;
  border-left: solid 1px ;
  border-right: solid 1px ;
}